@model PasswordRecovery

<section>
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "box" })) {
            <div class="headline-margin-bottom-10">
                <h2>
                    <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;Forgot Password
                </h2>
            </div>
            <p>We apologize to hear that you're having problem with your account. Let us help you recover your password.</p>
            <br />

            @Html.AntiForgeryToken()
            if (@Html.ValidationSummary(true) != null) {
                <div style="display: @string.IsNullOrEmpty(@Html.ValidationSummary(true).ToString())" id="sign-alert" class="alert alert-danger col-sm-12">
                    @Html.ValidationSummary(true)
                </div>
            }
            <div class="form-group">
                <label for="username">What is your email address?</label>
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <br />
                If you need further assistance, please contact support at <b><a href="tel:18003598569"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1-800-359-8569</a></b>.
                <div class="text-center">
                    <hr />
                    <button type="submit" class="btn btn-success">Continue</button>
                </div>
            </div>
        }
    </div>
</section>
