@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    @Html.Partial("_GoogleAnalytics")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/content/main.css?@Html.AssemblyVersion()" />
    <link rel="stylesheet" href="/content/animate.min.css">
    <link rel="stylesheet" href="/content/common.css?@Html.AssemblyVersion()" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>var version = "@Html.AssemblyVersion()"</script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Ship Waze</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/quote">Get a Quote</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/account/login">Log in</a></li>
                    <li><a href="/account/register">Register</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <div class="pull-right breadcrumb">
                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1-800-359-6983 | <a class="btn btn-success" href="/quote"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Get a Quote</a>
            </div>
        </div>
    </div>
    <div class="main-container container">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- About -->
                    <div class="headline"><h2>About</h2></div>
                    <p>Creative professionals.</p>
                    <!-- Monthly Newsletter -->
                    <div class="headline"><h2>Monthly Newsletter</h2></div>
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                </div><!--/col-md-4-->
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <!-- Monthly Newsletter -->
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address>
                        25, Lorem Lis Street, Orange <br>
                        California, US <br>
                        Phone: 800 123 3456 <br>
                        Fax: 800 123 3456 <br>
                        Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                    </address>
                </div><!--/col-md-4-->
            </div><!--/row-->
        </div><!--/container-->
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-space">
                        2016 © ShipWaze. ALL Rights Reserved.
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a href="index.html">
                        <img id="logo-footer" src="~/Content/images/logo.png" class="pull-right" alt="" width="80">
                    </a>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </div>

    @RenderSection("scripts", required: false)

    @Html.InitPageMainModule()

    <a href="#" class="scrollup"> <i class="fa fa-chevron-up"> </i> </a>
</body>
</html>